[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "tools/polymer/PolyFreq"]
	path = tools/polymer/PolyFreq
	url = git@github.com:nileshshah21/PolyFreq.git
